.paginator {
    margin: 12px;
}

.pageNumber {
    padding: 3px 5px;
    border: 1px solid rebeccapurple;
    height: 30px;
    margin: 0 3px;
}

.selectedPages {
    font-weight: bold;
    border-color: black;
    background-color: #f7f0ff;
}

