.messagesContainer {
    height: 400px;
    overflow-y: auto;
}

.messageImg {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.addMessageChatFormContainer {
    margin: 20px 20px;
}

.messageChatContainer {
    margin: 20px 20px;
}