.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    grid-area: h;
    background-color: black;
    min-height: 84px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.headerNavbar {
    display: flex;
}

.header img {
    margin: auto 38px;
    width: 48px;
    height: 60px;
}

.loginBlock {
    float: right;
    margin: auto 38px;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.NavLink {
    text-decoration: none;
    color: white;
}

