.nav {
    grid-area: n;
    padding: 20px 0;
    display: flex;
    justify-content: start;
    margin: auto 5px;
}

.item {
    color: white;
    text-decoration: none;
    padding-left: 20px;
}

.active {
    color: #DF204D;
    text-decoration: none;
    padding-left: 20px;
}



